.popup_back {
    width : 100%;
    height : 100%;
    position: fixed;
    top :0px;
    left: 0px;
    background-color:  rgba(0,0,0,0.5);
    color : white;
    z-index: 999;
}

.pop_frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgba(0,0,0,0.7);
    color : white;
    min-width: 180px;
    max-height: 46vh;
}

.pop_frame.notice {
    width: 85%;
    overflow-y: scroll;
}

.pop_title {
    width : 95%;
    height : 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #ffffff;
    padding: 2% 2%;
    font-size: 100%;
    font-weight: bold;
}

.pop_content {

    width : 90%;
    height : 75%;
    color: white;
    font-size: 90%;
    border: solid 1px #ffffff;
    text-align: center;
    padding: 5% 5%;
}
.pop_content.all {
    width: 99%;
    padding: 0 0;
}
.pop_content_text {

    width : 100%;
    height : 55%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.action-btn {
    min-height: 40px;
    background-color: white;
    color: red;
}

.action-btn.login {
    background: url("image/login.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}

.action-btn.ok {
    background: url("image/ok.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}

.action-btn.cancel {
    background: url("image/cancel.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
.action-btn.acsearch {
    background: url("image/btn_acsearch.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
.action-btn.accode {
    background: url("image/btn_code.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}

.action-btn.code_input {
    border: none;
    font-size: 150%;
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
    color: black;
    text-align: center;
}

.action-btn.p-center {
    width: 80%;
    margin: auto;
}

.action-btn.p-left {
    width: 40%;
    margin-left: 7%;
    float: left;
}

.action-btn.p-right {
    width: 40%;
    margin-right: 5%;
}

.action-btn.p-top {
    width: 80%;
    margin-top: 5%;
}


.action-btn.p-bottom {
    width: 80%;
    margin-top: 5%;
}

.action-btn.p-middle {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.noticeitem {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;

}
.noticeitem_ic {
    width: 10vw;
    height: 10vw;
    float: left;
}
.noticeitem_msg {
    height: 100%;
    font-size: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noticeitem_time {
    float: right;
    height: 8vh;
    position: absolute;
    right: 4%;
}

.splitx {
    width: 1px;
    height: 4vh;
    background-color: rgb(255,255,255);
    position: absolute;
    right: 20%;
}

.date {
    color: lightgray;
    font-size: 50%;
    height: 50%;
    display: flex;
    align-items: flex-end;
}
.time {
    color: lightgray;
    font-size: 50%;
    height: 50%;
}

.noticeitem_ic.notice {

    background: url("image/ic_notice.png") no-repeat top left;
    background-size: 100% 100%;
}
.noticeitem_ic.event {
    background: url("image/ic_event.png") no-repeat top left;
    background-size: 100% 100%;

}
.noticeitem_ic.video {
    background: url("image/ic_video.png") no-repeat top left;
    background-size: 100% 100%;
}
.noticeitem_ic.test {
    background: url("image/ic_test.png") no-repeat top left;
    background-size: 100% 100%;
}
.noticeitem_ic.board {
    background: url("image/ic_board.png") no-repeat top left;
    background-size: 100% 100%;
}

.alert-msg {
    width: 100%;
    font-weight: bold;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.navibar {
    position: fixed;
    top:0px;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-weight: bold;
    font-size: 120%;
    background-color: rgb(206, 42, 37);
}

.navi_btn {
    top:0px;
    position: absolute;
    height: 44px;
    width: 44px;
}
.navi_btn.a-back {
    background: url("image/back.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
.navi_btn.a-list {
    background: url("image/list.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
.navi_btn.a-notice {
    background: url("image/notice.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
.navi_btn.a-close {
    background: url("image/close.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}

.navi_btn.p-left {
    left:0px;
}

.navi_btn.p-right {
    right:0px;
}

.navibar.title {
    background: url("image/title.png") no-repeat top left;
    cursor:pointer;
    border: none;
    background-size: 100% 100%;
}
